
    <div class="footer">
        <span>&copy;WanderLust,Inc.&nbsp;&nbsp;<a href="/listings/privacy">Privacy</a>&nbsp;&nbsp;<a href="/listings/terms">Terms</a>&nbsp;&nbsp;<a href="/listings/companydetails">Company Details</a></span>
        <span><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;English(IN)&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;INR&nbsp;&nbsp;<a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;<a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;<a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></span>
    </div>
